:root{

--primary:#6C63FF;
--secondary:#4F46E5;
--accent:#00B894;

--white:#ffffff;
--black:#222;

--text:#555;

--light:#f8f9fc;

--border:#dddddd;

--footer:#1F2937;

--radius:12px;

--shadow:0 10px 25px rgba(0,0,0,.08);

--transition:.3s;

}